.input {
    &-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
     border: 1px solid $color-grey-light;
     width: 60%;
     padding: 0.6rem 1rem 0.6rem 2rem ;
     border-radius: 10000px;

     @include respond(tab-port) {
        width: 100%;
        padding: 0.6rem 1rem 0.6rem 2rem;
     }


     &:focus-within {
        outline: 1.6px solid darken($color-grey-light,0.9);
     }
    }

    &-search {
        width: 95%;
        height: 100%;
        border: none;
        outline: none;
        

        &::placeholder {
            font-family: $primary-font;
            color: $color-grey-dark-1;
            font-size: 1.6rem;

            @include respond(tab-port) {
                font-size: 1.6rem;
            }
        }

        }

        

    &-search-icon {
        background-color: #f8d974;
        padding: 0.9rem;
        border-radius: 100px;
        color: $color-grey-dark-1;
      
    }






}
